<div id="message-<%= message.id %>">
  <div class="d-flex">
    <%= cl_image_tag message.user.photo.key, class:"avatar-bordered me-2" %>
    <div>
      <small>
        <strong><%= message.user.nickname %></strong>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= message.content %></p>
    </div>
  </div>
</div>
