<div id="message-<%= message.id %>">
  <div class="d-flex">
    <div class="avatar-bordered me-2" style="background-image:
        url(<%= cl_image_path(message.user.photo.key) %>)">
    </div>
    <div>
      <small>
        <strong><%= message.user.nickname %></strong>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= message.content %></p>
    </div>
  </div>
</div>
