<div class="main-container">
  <div class="side-bar d-flex flex-column justify-content-between">
    <div class="d-flex flex-column">
      <a href="#" class="side-bar-btn active">LW</a>
      <a href="#" class="side-bar-btn">SL</a>
    </div>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
      <i class="logout-btn fa-solid fa-right-from-bracket"></i>
    <% end %>
  </div>
  <div class="middle-bar">
    <h2>Le Wagon</h2>
    <div class="person">
      <div class="dot-active"></div>
      <p><%= current_user.nickname %></p>
    </div>
    <div class="channel">
      <div class="channel-title">
        <h5>Channels</h5>
        <i class="fa-solid fa-plus"></i>
      </div>
      <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom), class: "text-decoration-none" do  %>
          <% if chatroom.id == @chatroom.id %>
            <p class="mb-0 channel-room-active"><i class="fa-brands fa-slack"></i> <%= chatroom.name %></p>
          <% else %>
            <p class="mb-0 channel-room"><i class="fa-brands fa-slack"></i> <%= chatroom.name %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="dm">
      <div class="dm-title">
        <h5>Direct Messages</h5>
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="person">
        <div class="dot-active"></div>
        <p class="active">Matz</p>
      </div>
      <div class="person">
        <div class="dot-inactive"></div>
        <p>StHawking</p>
      </div>
      <div class="person">
        <div class="dot-inactive"></div>
        <p>AlTuring</p>
      </div>
      <div class="person">
        <div class="dot-inactive"></div>
        <p>AlEinstein</p>
      </div>
    </div>
  </div>
  <div class="main-chat" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
    <h2><i class="fa-brands fa-slack"></i> <%= @chatroom.name %></h2>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [@chatroom, @message],
          html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f|
    %>
    <%= f.input :content,
        label: false,
        placeholder: "Message ##{@chatroom.name}",
        wrapper_html: {class: "flex-grow-1"}
    %>
    <%= button_tag class: "btn btn-primary mb-3" do %>
      <i class="fa-regular fa-paper-plane"></i>
    <% end %>
  <% end %>
</div>
</div>
</div>
