<div class="main-container">
  <div class="side-bar d-flex flex-column justify-content-between">
    <div class="d-flex flex-column">
      <a href="#" class="side-bar-btn active">LW</a>
      <a href="#" class="side-bar-btn">SL</a>
    </div>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
      <i class="logout-btn fa-solid fa-right-from-bracket"></i>
    <% end %>
  </div>
  <div class="middle-bar">
    <h2>Le Wagon</h2>
    <div class="person">
      <div class="dot-active"></div>
      <p><%= current_user.nickname %></p>
    </div>
    <div class="channel">
      <div class="channel-title">
        <h5>Channels</h5>
        <i class="fa-solid fa-plus"></i>
      </div>
      <p class="active"><i class="fa-brands fa-slack"></i> general</p>
      <p><i class="fa-brands fa-slack"></i> help</p>
      <p><i class="fa-solid fa-lock"></i> design</p>
    </div>
    <div class="dm">
      <div class="dm-title">
        <h5>Direct Messages</h5>
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="person">
        <div class="dot-active"></div>
        <p class="active">Matz</p>
      </div>
      <div class="person">
        <div class="dot-inactive"></div>
        <p>StHawking</p>
      </div>
      <div class="person">
        <div class="dot-inactive"></div>
        <p>AlTuring</p>
      </div>
      <div class="person">
        <div class="dot-inactive"></div>
        <p>AlEinstein</p>
      </div>
    </div>
  </div>
  <div class="main-chat">
    <div class="top-title">
      <h2><i class="fa-brands fa-slack"></i> <%= @chatroom.name %></h2>
      <div class="messages">
        <% @chatroom.messages.each do |message| %>
          <div id="message-<%= message.id %>">
            <small>
              <strong><%= message.user.nickname %></strong>
              <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
            </small>
            <p><%= message.content %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
